<nav class="navbar navbar-default" role="navigation">           
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Menu", "Index", "Home", new { area = "" }, new { @class = "navbar-brand visible-xs" })            
        </div>
        <div id="mainMenu" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("WELCOME", "Index", "Home")</li>
                <li>@Html.ActionLink("FAMILY PORTRAITS", "Index", "Home")</li>
                <li>@Html.ActionLink("BABIES AND TODDLERS", "Index", "Home")</li>
                <li>@Html.ActionLink("CHILDREN AND TEENS", "Index", "Home")</li>
                <li>@Html.ActionLink("GENERATIONS", "Index", "Home")</li>
                <li>@Html.ActionLink("PRICES AND PRODUCTS", "Index", "Home")</li>
                <li>@Html.ActionLink("FREQUENTLY ASKED QUESTIONS", "Index", "Home")</li>
                <li>@Html.ActionLink("ABOUT", "Index", "Home")</li>
                <li>@Html.ActionLink("CONTACT", "Index", "Home")</li>
            </ul>
        </div>    
</nav>
