@model MvcWideSite.ViewModels.WebPageViewModel

@{
    ViewBag.Title = @Html.Raw(Model.Title);
}

    @Html.DisplayFor(m => m.Images.CarouselImages)


    <div class="pageTitle">
        <h1>@Model.Title</h1>
    </div>

    @foreach (var content in Model.ContentList)
    {
        <div id="@content.Name" name="@content.Name" class="content-display">
            @Html.Raw(content.HtmlContent)
        </div>
    }
